service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }
    
    function isWritingImage() {
    return request.resource.contentType.matches('image/.*');
    }
  }
}